/*ESTILOS RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*ESTILOS BODY*/
#body{
    max-width: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

/*ESTILOS HEADER*/
header{
    background-color: rgb(185, 252, 230);
    height: 20vh;
    display: flex;
    flex-direction: column;
}

header nav ul{
    display: flex;
    justify-content: center;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    margin: 40px;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
}

#nav{
    width: 100%;
    height: 100%;
    text-align: center;
}

.navLogo{
    width: 30px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.navTit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonesHeader a{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*ESTILOS MAIN*/
#main{
    height: 90vh;
    padding-top: 40px;
}

.imgMain{
    width: 30%;
    height: 30%;
}

.containerIndex{
    display: flex;
    flex-direction: column; 
}

.caja1{
    display: flex;
    justify-content: center;
}

.caja1 p{
    width: 30%;
    font-size: 28px;
    justify-content: center;
    align-content: center;
}

p{
    text-align: center;
}

.caja1 img{
    width: 20%;
    height: 20%;
}

.botonesMain{
    display:flex;
    justify-content: center;
    align-content: flex-end;
}

.botonesMain a{
    text-decoration: none;
    margin: 40px;
    background-color: rgb(141, 174, 236);
    padding: 15px;
    border-radius: 10px;
}

/*ESTILOS FOOTER*/
footer{
    background-color: rgb(185, 252, 230);
    height: 20vh;
    display: flex;
    flex-direction: column;
    bottom: 0%;
}
    
footer nav ul{
    display: flex;
    justify-content: center;
}

footer nav ul li{
    list-style: none;
}

footer nav ul li a{
    text-decoration: none;
    margin: 40px;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
}

#navFooter{
    width: 100%;
    height: 100%;
    text-align: center;
}

.navTitFoot{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navLogoF{
    width: 30px;
    display: flex;
}

.footer--copy{
    display: flex;
    justify-content: flex-end;
}

.footer--redes{
    display: flex;
    justify-content: flex-end;
}

/*PAGINA ACERCA DE*/
#mainAcercaDe{
    margin: 80px auto;
    width: 90%;
    height: 400px;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);

}

.e1{
    grid-column: 1/10;
    grid-row: 1/2;
}

.tit1{
    text-align: center;
}

.e2{
    grid-column: 1/10;
    grid-row: 2/3;
}

.img1{
    grid-column: 1/3;
    grid-row: 2/3;
}

.img2{
    grid-column: 3/5;
    grid-row: 2/3;
}

.img3{
    grid-column: 5/8;
    grid-row: 2/3;
}

.img4{
    grid-column: 8/10;
    grid-row: 2/3;
}

.e3{
    grid-column: 1/10;
    grid-row: 3/4;
}

.e4{
    grid-column: 1/10;
    grid-row: 4/5;
}

